body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
    border: 1px solid #000;
    border-radius: 30px;
    text-align: center;
}
.profile {
    width: 900px;
    height: 430px;
    background: #fff;
}
.form {
    width: 450px;
    float: left;
    background: #fff;
}
.card {
    width: 400px;
    padding-top: 30px;
    vertical-align: middle;
    float: left;
    background: #fff;
}
.map-wrapper {
    position: relative;
    width: 2000px;
    height: 2000px;
}
.map {
    position: 'absolute';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}